<nav class="navbar navbar-expand-lg navbar-dark bg-primary">

  
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/admin">Perfil </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/admin/reportes">Reportes </a>
          </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/login">Cerrar sesion</a>
          </li>
      </ul>

    </div>
  </nav>


  <div class="jumbotron" style="size: 100%;"> 
    <table style="size:100%;">
        <tr style="width: 100%; height: 20%;"> 
            <h2 style= "float:left"class="display-3">Administrador</h2>
      
        </tr>
        
    </table>




  </div>

